#signUpContainer{
    position: absolute;
    width:100vw;
    height:100vh;
    top:15vh;
}

#signUpContainer h1{
    text-align:center;
    font-family: "Lato",sans-serif;
    color:#007fff;
}

#signUpContainer img{
    position: relative;
    left:50%;
}

.inputs{
    /* display:flex;
    flex-direction:column; */
    width:50%;
    margin:auto;
    margin-top:5vh;
    transition:transform 0.5s;
}

.inputs input[type = "text"], .inputs input[type = 'password']{
    border-radius:25px;
    border:1px solid #007fff;
    padding:2%;
    font-family: 'Lato',sans-serif;
    outline:none;
}

.inputs input[type = 'text']:focus, .inputs input[type = 'password']:focus{
    border:1px solid #f700ff;
}

.inputs input[type = 'file']{
    margin:auto;
}

.inputs button{
    border:none;
    background-color:#007fff;
    color:white;
    font-family: 'Lato',sans-serif;
    height:5vh;
    /* max-width:70vw; */
    /* margin:auto; */
    font-size: 1rem;
}

#identifier{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.radioGroup{
    margin:1vh 1vw;
}

.radioGroup input{
    margin-left:1vw;
}

#employeeForm{
    display: flex;
    flex-direction: column;
}

#employerForm{
    display: flex;
    flex-direction: column;
}

/*A better way to switch the forms if using css slide effect. Might change that later */
/* .hide{
    transform:translateX(-100%);
}

.show{
    transform
} */