.sideDrawer{
    width:40vw;
    height:100vh;
    background-color:white;
    font-family: 'Lato',sans-serif;
    color:#007fff;
    transition:0.5s;
    position:fixed;
    z-index:10000;
    font-size:1.2rem;
    transform: translateX(-100%);
    transition:transform 0.3s;
}

.sideDrawer ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    width:80%;
    margin:auto;
    position:relative;
    top:5vh;
}
 .sideDrawer img{
     position:absolute;
     right:3vw;
     top:1vh;
 }

 .sideDrawer.openSide{
     transform:translateX(0);
 }