#toggleSD{
    width:100%;
    height:10%;
    position:fixed;
    top:0;
    left:0;
    background-color:#007fff;
    z-index:1000; 
    box-shadow: 5px 5px 14px 3px #000000;
}

#hamburger{
    position:relative;
    left:2%;
    top:1vh;
    width:35px;
    height:35px;
}

#logo{
    position:absolute;
    right:2%;
    top:0.8vh;
    width:35px;
    height:35px;
}

#toggleSD p{
    color:white;
    font-family:'Lato', sans-serif;
    position:absolute;
    top:25%;
    left:50%;
    transform:translateX(-50%);
}