@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    background-color: #f0f1f29c;
    overflow-x: hidden;
}

button{
    cursor:pointer;
    outline: none;
}

/* #navContainer{
    background-color: white;
    height:12vh;
    transition: height 0.7s;
    position:fixed;
    width: 100%;
    z-index: 1000;
    display: none;
} */

/* #toggleSD{
    width:100%;
    height:10%;
    position:fixed;
    top:0;
    left:0;
    background-color:#007fff;
    z-index:1000; 
    box-shadow: 5px 5px 14px 3px #000000;
}

#hamburger{
    position:relative;
    left:2%;
    top:1vh;
    width:35px;
    height:35px;
}

#logo{
    position:absolute;
    right:2%;
    top:0.8vh;
    width:35px;
    height:35px;
}

#toggleSD p{
    color:white;
    font-family:'Lato', sans-serif;
    position:absolute;
    top:25%;
    left:50%;
    transform:translateX(-50%);
} */

/* #homeContainer1{
    height:100vh;
    width:100vw;
    position:relative;
    top:10vh;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#intro{
    display: flex;
    flex-direction: column;
    position: relative;
}

#intro h1{
    font-size: 1.5rem;
}

#intro img{
    width:100%;
    max-height:35vh;
    position: relative;
    top:2vh;
    margin:20px auto;
}

#intro div{
    position:relative;
    margin-top: 10%;
}

.line{
    background-color:#007fff;
    margin-top:6vh;
    width:50%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
}

#homeContainer2{
    height:100vh;
    width:100vw;
    position: absolute;
    top:90vh;
}

.imgGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    margin-top:10vh;
}

#features{
    display:flex;
    flex-direction: column;
}

#features div img{
    width:140px;
    height:140px;
}

.featuresText{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top:5%;
    width:100%;
}

#homePrompts{
    display: flex;
    flex-direction: row;
    margin-top:10vh;
    justify-content:center;
}

#homePrompts button{
    padding:2%;
    border-radius: 25px;
    border: none;
    margin:5px;
    background-color: #007fff;
    font-family: 'Lato',sans-serif;
    font-size: 1.3rem;
    color:white;
} */

/* .sideDrawer{
    width:40vw;
    height:100vh;
    background-color: white;
    font-family: 'Lato',sans-serif;
    color:#007fff;
    transition:0.5s;
    position:fixed;
    z-index:10000;
    font-size:1.2rem;
    transform: translateX(-100%);
    transition:transform 0.3s;
}

.sideDrawer ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    width:80%;
    margin:auto;
}
 .sideDrawer img{
     position:absolute;
     right:3vw;
 }

 .sideDrawer.openSide{
     transform:translateX(0);
 } */
